<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <form action="/sendMessage" method="POST">
        <h1>Forgot Password</h1>
        <label for="number">Enter mobile number</label>
        <input type="text" id="number" name="number" placeholder="phone number">
        <button type="submit">Send</button>
    </form>
</body>

</html>